$primary: #0C1029;
$secondary: #492160;
$ternary: #78287E;
$light: white;
$dark: #2b2b2b;
$contrast: #9F7DA3;
$contrast-active: #6D4B70;
$danger: #EA7E87;
$success: #75B78B;

@mixin smooth-transition($duration: 0.3s, $timing-function: ease) {
  transition: all $duration $timing-function;
}

