@import './customvariables.scss';

.projectcontainer{
  background-color: $primary;
  color: $light;
  border: 0.3rem solid $light;
  box-shadow: 0.3rem 0.3rem $secondary, 0.3rem 0.3rem inset $contrast;
  margin-bottom: 1.5rem;
}

.cardbutton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $contrast;
  border-color: $contrast;
  color: $primary;
  padding: 0.5rem 1.5rem;
  &:hover{
    background-color: $contrast-active;
    border-color: $contrast-active
  };
  &:active{
    background-color: $contrast-active;
    border-color: $contrast-active
  };
}

.cardtitle{
  border-bottom: 0.1rem solid $light;
}