@import './customvariables.scss';

.skills {
  padding: 1rem;
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
}

.header {
  color: white;
  text-shadow: 0 0.2rem $secondary;
}

.rounded-pill {
  width: 2rem;
  height: 0.2rem;
  border-radius: 5rem;
  background-color: white;
  margin-bottom: 1rem;
}

.skillscontainer {
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;
  align-items: flex-start;
}

.skillscontent {
  background-color: $light;
  border-radius: 1.5rem;
  box-shadow: 0.2rem 0.2rem inset $contrast, 0.2rem 0.2rem $secondary;
  margin: 0.25rem;
  padding: 0.25rem 0.7rem;
  text-align: center;
}

.desc {
  display: inline;
  margin-left: 0.25rem;
  font-size: 1rem;
}

.poster{
  width: auto;
  height: auto;
}